
// Section variables
$sections-margin: 0 143px 64px 100px;

// Header section variable
$header-margin: 19px;
$create-themes-margin: 39px 140px 19px 60px;
$create-but-width: 144px;
$back-arrow-width: 24px;
$back-arrow-height: 24px;
$back-arrow-margin: 17px;
$logo-width: 102.6px;
$logo-height: 64px;
$theme-but-width: 131px;
$theme-but-arrow-width: 36px;
$theme-but-arrow-margin: 0 16px;
$theme-list-cont-top: 36px;
$theme-list-cont-height: 102px;
$theme-list-cont-width: 167px;
$arrow-img-url: url("../Assets/arrow.svg");

// Global multicolor title variables
$divs-title-margin: 3px 3px 2px;
$divs-title-text-margin: 3px;

// Search section variables
$search-but-width: 102px;
$search-but-margin: 8px;
$search-input-margin: 12px 8px 12px 15px;
$search-input-width: 100%;
$search-input-height: 48px;
$search-icon-margin: 10px;

// Seuggestion section variables
$suggestions-text-margin: 26px;
$suggestions-img-gap: 20px;