// Colors variables
$global-back-color: #110038;

$gradient-start: #EE3EFE;
$gradient-end: #2E32FB;
$div-title-text-color: #FFFFFF;

$pink-but-back-color: #EE3EFE;
$pink-but-border-color: #110038;
$pink-but-box-color-in: #A72CB3;
$pink-but-box-color-out: #FFFFFF;

$white-but-back-color: #110038;
$white-but-border-color: #B4B4B4;
$white-but-box-color-in: #5C5C5C;
$white-but-box-color-out: #FFF4FD;

$gray-but-back-color: #B4B4B4;
$gray-but-border-color: #808080;
$gray-but-box-color-in: #B4B4B4;
$gray-but-box-color-out: #FFFFFF;

$light-gray-but-back-color: #CCCCCC;
$light-gray-but-border-color: #808080;
$light-gray-but-box-color-in: #B4B4B4;
$light-gray-but-box-color-out: #FFFFFF;

$light-gray-but-hover-back-color: #CCCCCC;

$blue-but-back-color: #2E32FB;
$blue-but-border-color: #4C2F99;
$blue-but-box-color-in: #2124B3;
$blue-but-box-color-out: #FFFFFF;
$blue-but-text-color-out: #FFFFFF;

$theme-night-list-back-color: #2E32FB;
$theme-night-list-border-color: rgba(51,53,143,0.20);
$theme-night-list-box-color-in: #E6DCE4;
$theme-night-list-box-color-out: #FFFFFF;
$theme-night-list-text-color-out: #FFFFFF;

$theme-day-list-back-color: #CCCCCC;
$theme-day-list-border-color: #808080;
$theme-day-list-box-color-in: #B4B4B4;
$theme-day-list-box-color-out: #FFFFFF;

$gray-background-back-color: #B4B4B4;
$gray-background-box-color-in: #8F8F8F;
$gray-background-box-color-out: #FFFFFF;

$regular-text-color: #110038;

$mygifos-color: #FFFFFF;

$dropdown-arrow-url: url(../Assets/forward.svg);
$dropdown-arrow-rotate: -270deg;

$search-text-color: #8F8F8F;
$search-img-url: url(../Assets/Combined_Shape.svg);
$search-img-focus-url: url(../Assets/lupa_light.svg);

$text-input-gray-back-color: #FFFFFF;
$text-input-gray-border-color: #979797;
$text-input-gray-box-color-in: #E6E6E6;
$text-input-gray-box-color-out: #000000;

$text-input-pink-back-color: #FFFAFE;
$text-input-pink-border-color: #2E32FB;
$text-input-pink-box-color-in: #E6DCE4;
$text-input-pink-box-color-out: #110038;

$on-hover-back-color: #CE36DB;
$on-hover-box-color-in: #A72CB3;
$on-hover-box-color-out: #FFFFFF;
$on-hover-outline-color: #110038;

$white-hover-outline-color: #FFFFFF;

$text-hover-outline-color: #FFFFFF;

$progress_back_color: #B4B4B4;
$progress_empty_color: #999999;
$progress_fill_color: #EE3EFE;

$camera-logo-url: url("../Assets/camera_light.svg"); 

$logo_url: url("../Assets/gifOF_logo_dark.png");