// Colors variables
$global-back-color: #FDF4FD;

$gradient-start: #F7C9F3;
$gradient-end: #4180F6;
$div-title-text-color: #FFFFFF;

$pink-but-back-color: #F7C9F3;
$pink-but-border-color: #110038;
$pink-but-box-color-in: #997D97;
$pink-but-box-color-out: #FFFFFF;

$white-but-back-color: #FFF4FD;
$white-but-border-color: #110038;
$white-but-box-color-in: #997D97;
$white-but-box-color-out: #FFFFFF;

$gray-but-back-color: #E6E6E6;
$gray-but-border-color: #808080;
$gray-but-box-color-in: #B4B4B4;
$gray-but-box-color-out: #FFFFFF;

$light-gray-but-back-color: #F0F0F0;
$light-gray-but-border-color: #808080;
$light-gray-but-box-color-in: #B4B4B4;
$light-gray-but-box-color-out: #FFFFFF;

$light-gray-but-hover-back-color: #DBDBDB;

$blue-but-back-color: #4180F6;
$blue-but-border-color: #4C2F99;
$blue-but-box-color-in: #284F99;
$blue-but-box-color-out: #FFFFFF;
$blue-but-text-color-out: #FFFFFF;

$theme-night-list-back-color: #F0F0F0;
$theme-night-list-border-color: #808080;
$theme-night-list-box-color-in: #B4B4B4;
$theme-night-list-box-color-out: #FFFFFF;
$theme-night-list-text-color-out: #110038;

$theme-day-list-back-color: #FFF4FD;
$theme-day-list-border-color: #CCA6C9;
$theme-day-list-box-color-in: #E6DCE4;
$theme-day-list-box-color-out: #FFFFFF;

$gray-background-back-color: #E6E6E6;
$gray-background-box-color-in: #B4B4B4;
$gray-background-box-color-out: #FFFFFF;

$regular-text-color: #110038;

$mygifos-color: #110038;

$dropdown-arrow-url: url(../Assets/dropdown.svg);
$dropdown-arrow-rotate: 0deg;

$search-text-color: #B4B4B4;
$search-img-url: url(../Assets/lupa_inactive.svg);
$search-img-focus-url: url(../Assets/lupa.svg);


$text-input-gray-back-color: #FFFFFF;
$text-input-gray-border-color: #979797;
$text-input-gray-box-color-in: #E6E6E6;
$text-input-gray-box-color-out: #000000;

$text-input-pink-back-color: #FFFAFE;
$text-input-pink-border-color: #E6BBE2;
$text-input-pink-box-color-in: #E6DCE4;
$text-input-pink-box-color-out: #80687D;

$on-hover-back-color: #E6BBE2;
$on-hover-box-color-in: #997D97;
$on-hover-box-color-out: #FFFFFF;
$on-hover-outline-color: #110038;

$white-hover-outline-color: #110038;

$text-hover-outline-color: #110038;

$camera-logo-url: url("../Assets/camera.svg");

$progress_back_color: #B4B4B4;
$progress_empty_color: #999999;
$progress_fill_color: #F7C9F3;



$logo_url: url("../Assets/gifOF_logo.png");